@font-face {
	font-family: 'PressStart2P';
	src: url(./PressStart2P-Regular.woff) format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Inter-Variable';
	src: url(./Inter-Variable.woff2) format('woff2');
	font-weight: 400 785;
	font-style: normal;
	font-display: swap;
}
