#design {
  
   /* Позиционируем макет */
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
 
   /* Делаем его полупрозрачным */
   opacity: .6;
 
   /* Инвертируем изображение в вашем любимом -webkit (-blink) браузере */
   filter: invert(100%);
   -webkit-filter: invert(100%);
 
   /* Оставляем возможность взаимодействия с элементами */
   pointer-events: none; 
}