@keyframes pointer-move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(4px);
  }
}

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes heart-sparks-opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation-name: heart-scale;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.like-icon.is-liked .sparks {
  animation-name: heart-sparks-opacity;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.like-icon .core {
  transition: 0.3s linear fill;
}

.like-icon:hover .core {
  transition: 0.3s 0.05s linear fill;
  fill: var(--color);
}

.like-icon:active .core {
  transition: 0.3s 0.05s linear fill;
  fill: var(--color-heart);
}

.like-icon .cross {
  transition: 0.3s 0.03s linear fill;
}

.like-icon:hover .cross {
  transition: 0.3s linear fill;
  fill: var(--color);
}

.like-icon:active .cross {
  transition: 0.3s linear fill;
  fill: var(--color-heart);
}

.like-icon.is-liked .cross {
  transition: 0.3s linear fill;
  fill: var(--color-heart);
}

.like-icon.is-liked .core {
  transition: 0.3s 0.05s linear fill;
  fill: var(--color-heart);
}

.like-icon .contour {
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-property: fill;
}

.like-icon.is-liked .contour {
  transition-duration: 0.3s;
  transition-delay: 0.06s;
  transition-timing-function: linear;
  transition-property: fill;
  fill: var(--color-heart);
}

.like-icon .sparks {
  opacity: 0;
}
