*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

button {
  display: flex;
  margin: 0;
  border: none;
  padding: 0;
  background: none;
}

button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

figure {
  margin-block: 0;
  margin-inline: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.filter-grayscale {
  filter: grayscale(75%);
}

.filter-saturation {
  filter: saturate(400%) brightness(80%);
}

.filter-hue-rotate {
  filter: hue-rotate(295deg) saturate(70%);
}

.filter-invert {
  filter: invert(10%);
}

.filter-sepia {
  filter: sepia(70%) brightness(70%);
}

.filter-blured {
  filter: blur(10px);
}

.filter-mix {
  filter: hue-rotate(100deg) blur(1px) opacity(80%);
}
