.page {
  display: grid;
  row-gap: 100px;
  padding-block: 100px;
  inline-size: clamp(23.4375rem, 100%, 43.75rem);
  font-family: Arial, sans-serif;
  font-weight: var(--font-weight-normal);
  color: var(--color);
  background: var(--bg-page) center / cover no-repeat;
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-main, sans-serif);
  }
}

.header {
  display: grid;
  padding-block: clamp(118px, 17.7vw, 134px) 20px;
  inline-size: 100%;
  border: 2px solid currentColor;
  background-color: var(--color-accent);
}

.decorative-font {
  font-family: var(--font-accent, serif);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase; /*watermark + save button*/
}

.header__logo {
  margin-block-end: 20px;
  font-size: clamp(
    3.0625rem,
    2.7104rem + 1.5023vw,
    4.0625rem
  );
}

.header__title {
  margin-block-end: 25px;
  font-size: clamp(
    0.875rem,
    0.6769rem + 0.8451vw,
    1.4375rem
  );
}

.header__theme-menu {
  place-self: center;
  position: relative;
  inset-inline-start: 10px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__item:has(
    .theme-menu__button[disabled]
  )::before {
  position: absolute;
  inset-inline-start: -22px;
  inset-block-start: -1px;
  content: '▶';
  font-family: var(--font-accent, serif);
  color: currentColor;
  opacity: 0.6;
  animation: pointer-move 0.5s ease-in-out infinite
    alternate;
}

@media screen and (width <= 23.4375rem) {
  .theme-menu__item:has(
      .theme-menu__button[disabled]
    )::before {
    inset-inline-start: -25px;
  }
}

.theme-menu__button {
  position: relative;
  min-block-size: 18px;
  font-size: 14px;
  overflow: hidden;
  transition: 0.3s ease opacity;
}

.theme-menu__button::after {
  position: absolute;
  inset-inline-start: -100%;
  inset-block-end: 0px;
  display: block;
  content: '';
  inline-size: 200%;
  block-size: 2px;
  background-color: currentColor;
  opacity: 0.6;
  transform: scaleX(0);
  transition: 0.3s ease transform;
}

.theme-menu__button[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.cards-list {
  display: grid;
  row-gap: 50px;
}

.card {
  border: 2px solid currentColor;
  inline-size: 100%;
  background-color: var(--color-accent);
}

.card__title {
  border-block-end: 2px solid currentColor;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: var(--font-weight-accent);
  line-height: normal;
}

@media screen and (width >= 90rem) {
  .card__title {
    padding: 6px 10px;
  }
}

.card__figure {
  position: relative;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  background-image: var(--bg-figure);
}

.card__img {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__figcaption {
  position: absolute;
  z-index: 1;
  display: block;
  inset-inline-end: 11px;
  inset-block-start: 23px;
  font-size: 14px;
  text-transform: lowercase;
  text-shadow: -1px -1px 0 var(--color-accent),
    1px -1px 0 var(--color-accent),
    -1px 1px 0 var(--color-accent),
    1px 1px 0 var(--color-accent);
  opacity: 0.8;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--color-accent)) or
    (-webkit-text-stroke: 1px var(--color-accent))
) {
  .card__figcaption {
    -webkit-text-stroke: 1px var(--color-accent);
    text-shadow: none;
  }
}

@media screen and (width >= 90rem) {
  .card__figcaption {
    inset-inline-end: 23px;
    inset-block-start: 24px;
  }
}

.card__content {
  border-block-start: 2px solid currentColor;
  padding: 25px;
}

.card__paragraph {
  font-size: 18px;
  line-height: 21px;
}

.card__paragraph:not(:last-of-type) {
  margin-block-end: 27px;
}

.card__paragraph:last-of-type {
  margin-block-end: 25px;
}

.card__action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  min-block-size: 38px;
}

.card__icon-button {
  inline-size: 27px;
  block-size: 24px;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation-name: heart-scale;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.like-icon .core {
  transition: 0.3s linear fill;
}

.like-icon:hover .core {
  transition: 0.3s 0.05s linear fill;
  fill: var(--color);
}

.like-icon:active .core {
  transition: 0.3s 0.05s linear fill;
  fill: var(--сolor-fill-heart);
}

.like-icon .cross {
  transition: 0.3s 0.03s linear fill;
}

.like-icon:hover .cross {
  transition: 0.3s linear fill;
  fill: var(--color);
}

.like-icon:active .cross {
  transition: 0.3s linear fill;
  fill: var(--сolor-fill-heart);
}

.like-icon.is-liked .core,
.like-icon.is-liked .cross {
  fill: var(--сolor-fill-heart);
}

.like-icon .contour {
  transition: 0.3s 0.06s linear fill;
}

.like-icon.is-liked .contour {
  transition: 0.1 linear fill;
  fill: var(--сolor-fill-heart);
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation-name: heart-sparks-opacity;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.card__like-button {
  position: relative;
  justify-content: center;
  align-items: center;
  border: 2px solid currentColor;
  padding: 10.5px 35px;
  transition: 0.3s ease box-shadow;
  overflow: hidden;
}

.card__like-button::before {
  position: absolute;
  z-index: 1;
  content: '';
  inline-size: 100%;
  block-size: 100%;
  background-color: currentColor;
  transition: 0.5s ease-in-out transform;
  transform: translateX(-100%);
}

.card__like-button:hover::before {
  transform: translateX(0);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px 0px currentColor;
}

.button__text {
  position: relative;
  z-index: 2;
  min-inline-size: 84px;
  font-size: 14px;
  line-height: 90%;
  text-transform: capitalize;
  color: var(--color-button-animation);
  mix-blend-mode: difference;
}

.footer {
  place-self: center;
}

.footer__inner {
  margin-block-start: -50px;
}

.save-button {
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  background: var(--color-accent);
  border: 2px solid currentColor;
  transition: 0.3s ease box-shadow;
  overflow: hidden;
}

@media screen and (width >= 90rem) {
  .save-button {
    flex-direction: row;
  }
}

.save-button::before {
  position: absolute;
  inset: 0;
  z-index: 1;
  content: '';
  min-inline-size: 306px;
  min-block-size: 80px;
  background-color: currentColor;
  transition: 0.5s ease-in-out transform;
  transform: translateX(-100%);
}

@media screen and (width >= 90rem) {
  .save-button::before {
    min-inline-size: 335px;
    min-block-size: 51px;
  }
}

.save-button:hover::before {
  transform: translateX(0);
}

.save-button:focus {
  outline: none;
}

.save-button:focus-visible {
  box-shadow: 2px 2px 0px 0px currentColor;
}

.save-button__icon {
  position: relative;
  z-index: 2;
  inline-size: 28px;
  block-size: 28px;
  color: var(--color-button-animation);
  mix-blend-mode: difference;
}

.save-button__text {
  position: relative;
  z-index: 2;
  font-size: 14px;
  line-height: 90%;
  text-transform: initial;
  color: var(--color-button-animation);
  mix-blend-mode: difference;
}

@media screen and (width >= 90rem) {
  .save-button__icon {
    inline-size: 21px;
    block-size: 21px;
  }
}

.modal[open] {
  display: grid;
  gap: 30px;
  padding: 30px 40px;
  border: 2px solid currentColor;
  max-inline-size: 341px;
  background-color: var(--color-accent);
  color: var(--color);
}

@media screen and (width >= 90rem) {
  .modal {
    padding: 30px;
  }
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal__icon {
  min-inline-size: 39px;
  min-block-size: 39px;
  max-inline-size: 39px;
  max-block-size: 39px;
}

.modal__title {
  color: currentColor;
  font-family: var(--font-accent, serif);
  font-size: 14px;
  font-style: normal;
  line-height: 21px;
  text-transform: uppercase;
}

.modal__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid currentColor;
  inline-size: 100%;
  padding: 9px 17px;
  background-color: var(--color-accent);
  transition: 0.3s ease box-shadow;
  overflow: hidden;
}

.modal__button::before {
  position: absolute;
  inset: 0;
  z-index: 1;
  content: '';
  min-inline-size: 257px;
  min-block-size: 31px;
  background-color: currentColor;
  transition: 0.5s ease-in-out transform;
  transform: translateX(-100%);
}

.modal__button:hover::before {
  transform: translateX(0);
}

.modal__button:focus {
  outline: none;
}

.modal__button:focus-visible {
  box-shadow: 2px 2px 0px 0px currentColor;
}

.modal__button-text {
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  color: var(--color-button-animation);
  mix-blend-mode: difference;
}
