.page {
	display: grid;
	place-items: center;
	row-gap: var(--page-gap);
	padding-block: var(--page-gap);
	min-inline-size: var(--inline-size-mobile);
	max-inline-size: var(--inline-size-desktop);
	font-family: Arial, sans-serif;
	font-weight: var(--font-weight-normal);
	color: var(--color);
	background: var(--bg-page) center / cover no-repeat;
	background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
	.page {
		font-family: var(--font-main);
	}
}

.header {
	display: grid;
	place-items: center;
	padding-block-start: clamp(118px, 17.7vw, 134px);
	padding-block-end: 25px;
	border: 2px solid currentColor;
	inline-size: 100%;
	max-inline-size: 700px;
	background-color: var(--bg-color);
}

.title {
	font-family: var(--font-accent);
	font-weight: 400;
	text-align: center;
}

.header__logo {
	margin-block-end: 20px;
	text-transform: uppercase;
	font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
	margin-block-end: 25px;
	text-transform: uppercase;
	font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.theme-menu__button {
	display: flex;
	padding: 0;
	padding-inline-start: 19px;
	border: none;
	background: none;
	font-family: var(--font-accent);
	font-size: 14px;
	text-transform: uppercase;
}

.theme-menu__button[disabled] {
	padding-inline-start: 0;
	color: var(--color-accent);
}

.theme-menu__button[disabled]::before {
	padding-inline-end: 0.5ex;
	content: '▶';
}

.posts__list {
	display: grid;
	row-gap: 50px;
}

.post {
	inline-size: 100%;
	max-inline-size: 698px;
	border: 2px solid currentColor;
	background-color: var(--bg-color);
}

.post__title {
	border-block-end: 2px solid currentColor;
	padding: 5px 10px;
	font-family: var(--font-main);
	font-size: 18px;
	font-weight: var(--font-weight-accent);
	line-height: normal;
	color: currentColor;
}

@media screen and (width >= 90rem) {
	.post__title {
		padding: 6px 10px;
	}
}

.post__img-container {
	position: relative;
	inline-size: 100%;
	aspect-ratio: 1 / 1;
	background-image: var(--bg-img-container);
}

.post__img-elem {
	position: relative;
	display: block;
	inline-size: 100%;
	object-fit: contain;
	object-position: center;
}

.filter-grayscale {
	filter: grayscale(75%);
}

.filter-saturation {
	filter: saturate(400%);
}

.filter-hue-rotate {
	filter: hue-rotate(30deg);
}

.filter-invert {
	filter: invert(80%);
}

.filter-sepia {
	filter: sepia(100%);
}

.filter-blured {
	filter: blur(10px);
}

.filter-mix {
	filter: hue-rotate(100deg) blur(1px) opacity(80%);
}

.post__img-watermark {
	display: inline;
	position: absolute;
	z-index: 1;
	inset-inline-end: 11px;
	inset-block-start: 23px;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	text-shadow: -1px -1px 0 var(--text-stroke-color),
		1px -1px 0 var(--text-stroke-color), -1px 1px 0 var(--text-stroke-color),
		1px 1px 0 var(--text-stroke-color);
	opacity: 0.5;
	mix-blend-mode: hard-light;
}

@supports (
	(text-stroke: 1px var(--text-stroke-color)) or
		(-webkit-text-stroke: 1px var(--text-stroke-color))
) {
	.post__img-watermark {
		-webkit-text-stroke: 1px var(--text-stroke-color);
		text-shadow: none;
	}
}

@media screen and (width >= 90rem) {
	.post__img-watermark {
		inset-inline-end: 23px;
		inset-block-start: 27px;
	}
}

.post__text-content {
	border-block-start: 2px solid currentColor;
	padding: var(--content-gap);
}

.post__paragraph {
	overflow-wrap: break-word;
	font-size: 18px;
	line-height: 21px;
}

.post__paragraph:not(:last-of-type) {
	margin-block-end: 27px;
}

.post__paragraph:last-of-type {
	margin-block-end: 25px;
}

.post__action {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 12px;
	block-size: 38px;
}

.post__icon-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	inline-size: 27px;
	block-size: 24px;
	background: none;
	border: none;
}

.post__like-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10.5px 35px;
	border: 2px solid currentColor;
	background: none;
}

.button-text {
	font-family: var(--font-accent);
	font-size: 14px;
	font-style: normal;
	line-height: 90%;
	color: currentColor;
}

.footer__inner {
	margin-block-start: -50px;
}

.save-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 15px 20px;
	border: 2px solid currentColor;
	inline-size: max-content;
	background: var(--bg-color);
}

@media screen and (width >= 90rem) {
	.save-button {
		flex-direction: row;
	}
}

.save-button__icon {
	min-inline-size: 28px;
	min-block-size: 28px;
	max-inline-size: 28px;
	max-block-size: 28px;
}

@media screen and (width >= 90rem) {
	.save-button__icon {
		min-inline-size: 21px;
		min-block-size: 21px;
		max-inline-size: 21px;
		max-block-size: 21px;
	}
}

.save-button__text {
	font-family: var(--font-accent);
	font-size: 14px;
	font-style: normal;
	color: currentColor;
}
