:root.theme-light {
  --font-weight-normal: 400;
  --font-weight-accent: 700;
  --color: #000;
  --color-heart: #ff0000;
  --color-accent: #fff;
  --color-button-animation: #fff;
  --bg-figure: radial-gradient(
    circle at 50% 50%,
    #888 0%,
    #666 35%,
    #444 65%,
    #222 95%,
    #222 100%
  );
  --bg-grid-color: #d3d3d3;
  --bg-saturation-color-start: #e7e7e7;
  --bg-saturation-color-end: #1a1a1a;
}
:root.theme-dark {
  --font-weight-normal: 465;
  --font-weight-accent: 785;
  --color: #00cc14;
  --color-accent: #000;
  --color-button-animation: #00cc14;
  --bg-figure: radial-gradient(
    circle at 50% 50%,
    #006400 0%,
    #004d00 35%,
    #003300 65%,
    #001a00 95%,
    #001a00 100%
  );
  --bg-grid-color: #000;
  --bg-saturation-color-start: #007f0c;
  --bg-saturation-color-end: #004306;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight-normal: 465;
    --font-weight-accent: 785;
    --color: #00cc14;
    --color-accent: #000;
    --color-button-animation: #00cc14;
    --bg-figure: radial-gradient(
      circle at 50% 50%,
      #006400 0%,
      #004d00 35%,
      #003300 65%,
      #001a00 95%,
      #001a00 100%
    );
    --bg-grid-color: #000;
    --bg-saturation-color-start: #007f0c;
    --bg-saturation-color-end: #004306;
  }
}
