:root {
  --font-main: 'Inter-Variable';
  --font-accent: 'PressStart2P';
  --font-weight-normal: 400;
  --font-weight-accent: 700;
  --color: #000;
  --color-heart: #ff0000;
  --color-accent: #fff;
  --color-button-animation: #fff;
  --bg-figure: radial-gradient(
    circle at 50% 50%,
    #888 0%,
    #666 35%,
    #444 65%,
    #222 95%,
    #222 100%
  );
  --bg-grid-color: #d3d3d3;
  --bg-saturation-color-start: #e7e7e7;
  --bg-saturation-color-end: #1a1a1a;
  --bg-page: repeating-linear-gradient(
      90deg,
      var(--bg-grid-color),
      var(--bg-grid-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--bg-grid-color),
      var(--bg-grid-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      180deg,
      var(--bg-saturation-color-start) 0.01%,
      var(--bg-saturation-color-end)
    );
}
